<h4 class="ui center aligned medium icon header">
  <i class="circular coffee icon inverted red"></i>
  Chat Now
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class = "ui fluid raised card" style="height: 450px;">
            <% if session[:user_id] != nil %>
                <div class="content">
                    <div class="ui large feed">
                        <h4 class="ui header">Activity</h4>
                        <%= render @messages %>
                    </div>
                    <div class="flickr_pagination" style="text-align: left;">
                        <%= will_paginate @messages, :container => false %>
                    </div>
                    <div class="extra content">
                        <form class="ui reply form">
                            <div class="field">
                                <textarea></textarea>
                            </div>
                            <div class="ui red labeled submit icon button">
                                <i class="icon edit"></i> Add Reply
                            </div>
                        </form>
                    </div>
                </div>  
            <% else %>
                <div class="content">
                    <div class="ui placeholder segment">
                        <div class="ui two column very relaxed stackable grid">
                            <div class="column">
                                <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
                                    <div class="field">
                                        <%= f.label :username %>
                                        <div class="ui left icon input">
                                            <%= f.text_field :username, placeholder: "Enter your username" %>
                                            <i class="user icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <%= f.label :password %>
                                        <div class="ui left icon input">
                                            <%= f.password_field :password, placeholder: "Enter your password" %>
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <%= f.button "Login", type: "submit", :class=> "ui red submit button" %>
                                <% end %>
                            </div>
                            <div class="middle aligned column">
                                <div class="ui big button">
                                    <i class="signup icon"></i>
                                    Sign Up
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical divider">
                            Or
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="four wide column">
        <div class = "ui fluid raised card" style="height: 450px;">
            <% if session[:user_id] != nil %>
            <div class="content">
                <div class="ui inverted vertical menu">
                    <div class="active item">
                        Users 
                    </div>
                    <a class="item">
                        item1
                    </a>
                    <a class="item">
                        item2  
                    </a>
                </div>
            </div>
            <% else %>
             <div class="content">
                <h3>Login or signup to chat!</h3>
            </div>
            <% end %>
        </div>
    </div>
</div>