<h4 class="ui center aligned medium icon header">
  <i class="circular coffee icon inverted red"></i>
  Chat Now
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class = "ui fluid raised card" style="height: 450px;">
            <% if session[:user_id] != nil %>
                <div class="content">
                    <div class="ui large feed">
                        <h4 class="ui header">Activity</h4>
                        <%= render @messages %>
                    </div>
                    <div class="flickr_pagination" style="text-align: left;">
                        <%= will_paginate @messages, :container => false %>
                    </div>
                    <div class="extra content">
                        <%= form_with(model: @message, local: true) do |f|  %>
                            <div class="field">
                                <%= f.text_area :body, style: 'width: 100%' %><br>
                                <%= f.submit 'Send', class: 'ui red submit button'%>
                                
                            </div>
                           
                        <% end %>
                    </div>
                </div>  
            <% else %>
                <script>
                    /* Redirect to login page if user is not logged in */
                    window.location.href = "/login";
                </script>
            <% end %>
        </div>
    </div>

    <div class="four wide column">
        <div class = "ui fluid raised card" style="height: 450px;">
            <% if session[:user_id] != nil %>
            <div class="content">
                <div class="ui inverted vertical menu">
                    <div class="active item">
                        Users 
                    </div>
                    <a class="item">
                        item1
                    </a>
                    <a class="item">
                        item2  
                    </a>
                </div>
            </div>
            <% else %>
             <div class="content">
                <h3>Login or signup to chat!</h3>
            </div>
            <% end %>
        </div>
    </div>
</div>